.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.nav{
  display: flex;
  width: 50%;
  justify-content: space-around;
  text-decoration: none;
}

table{
  margin: auto;
  width: 75%;
}
td,th{
  border-bottom: 1px solid black;
}

tr a{
  text-decoration: none;
}


